html{
	height: 100%;
}
.topnav{
    overflow: hidden;
}
.topnav h3 {
	border: 1px solid;
	margin-top: 0px;  
	margin-bottom: 0px;
    text-align: center;
	background-color: #dde0e0;
}
.topnav p {
	float: left;
	border: 1px solid black;
    padding-top: 4px;
    padding-bottom: 5px;
    padding-right: 7px;
    padding-left:7px;
    width: 250px;
	margin-top: 0px;
    margin-bottom: 10px; 
    text-align: center;	
}

.title2 img{
	border: 3px solid;
	border-color: black;
}
.title2 h1 {
	font-size: 30px;
	margin-bottom: 1px;
}
.imgcontainer {
	float: left;
	width: 33.33%;
	margin-bottom: 20px;
}
.img {
	padding-top: 20px;
	padding-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	height: 250px;
}
	
.img img {
	border: 2px solid;
	border-color: black;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: auto;
    margin-left: auto;
    width: 60%;
}
hr {
	height: 2px;
    background-color: black;
    border: none;
}





