*{
	text-decoration: none; 
}
header {
	background-color: #007196;
	padding: 1em; 
	color: white; 
	clear: left; 
	text-align: center; 
}

nav{
	float: right; 
	max-width: 160px; 
	height: 134px; 
	padding: 1em;
	border-style: solid; 
	border-color: #333; 
} 

nav ul{
	padding: 0px; 
	list-style-type: none;
}

nav a {
	padding-right: 10px; 
	color: #C5BD99;
}

article {
	padding: 1em;
}

aside{
	float: right;
	width: 200px; 
	padding: 20px; 
	margin-right: 40px; 
	font-size: 80%;
	font-style: italic; 
	background-color: lightgray; 
	box-shadow: 3px 5px 3px 1px #7e563e;
	position: relative; 
	top:-40px;
}
footer {
	background-color: #007196;
	padding: 1em; 
	color: white; 
	clear: left; 
	text-align: center; 
}