html {
    background-image: url("minimalistbg.jpg");
}
 h1{
    background-color: #e8c2cc;
    font-family: 'Times New Roman', 'Arial Narrow', Arial, sans-serif;
    border: 2px dotted;
    border-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left:15px;
    width: 250px;
    margin-bottom: 20px;   
    text-align: center;
}
p {
    background-color: rgb(244, 246, 222);
    text-align: justify;
    font-style: italic;
    padding: 20px;
    border: 3px black;
    border-top-style: double;
    border-left-style: dashed;
    border-right-style: dotted;
    border-bottom-style: solid;
    width: 500px;
}
span {
    font-style: bold, italic;
    color: rgb(202, 118, 147);
    margin-left: 2px;
    margin-right: 5px;
}